<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSInternal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CSInternal.Properties.Settings>
      <setting name="GyroRange" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AccelRange" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GyroOffsetX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GyroOffsetY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GyroOffsetZ" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AccelOffsetX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AccelOffsetY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AccelOffsetZ" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AccelRefreshrate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AntiAliasingFilterBandwidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GyroRefreshRate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SetAntiAliasingFilterAutomatically" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LocalDataStorage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LocalDataStoragePath" serializeAs="String">
        <value />
      </setting>
      <setting name="SheetsStorage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewLength" serializeAs="String">
        <value>100</value>
      </setting>
    </CSInternal.Properties.Settings>
  </userSettings>
</configuration>