<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="32feet.NET" version="3.5.0.0" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net472" />
  <package id="Google.Apis" version="1.51.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.51.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.51.0" targetFramework="net472" />
  <package id="Google.Apis.Sheets.v4" version="1.51.0.2272" targetFramework="net472" />
  <package id="log4net" version="2.0.5" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Tamir.SharpSSH" version="1.1.1.13" targetFramework="net472" />
  <package id="Yats.Ports" version="1.0.6790.2288" targetFramework="net472" />
  <package id="Yats.Utilities" version="1.0.6258.21993" targetFramework="net472" />
</packages>